mlflow==2.12.1
accelerate==0.27.2
astunparse==1.6.3
cffi==1.16.0
cloudpickle==3.0.0
defusedxml==0.7.1
dill==0.3.6
gmpy2==2.1.2
google-cloud-translate==3.15.3
numpy==1.23.5
packaging==23.2
pandas==1.5.3
protobuf==3.19.6
pydantic==1.10.12
pyyaml==6.0.1
requests==2.28.1
sentencepiece==0.1.99
torch==2.2.1
transformers==4.38.2